<!DOCTYPE html>
<html>

<head>

<title>Book Availability</title>

<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

</head>


<body>


<div class="form-card">


<h2>📦 Book Availability</h2>


<table>


<tr>

<th>Book ID</th>
<th>Book Name</th>
<th>Total Copies</th>
<th>Available</th>

</tr>


<tr>

<td>B101</td>

<td>Java Programming</td>

<td>10</td>

<td>7</td>


</tr>


</table>



<a href="{{url_for('librarian_dashboard')}}">
    Back
</a>


</div>


</body>

</html>