<!DOCTYPE html>
<html>

<head>

<title>Borrow Records</title>

<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

</head>


<body>


<div class="form-card">


<h2>📄 Borrow Records</h2>


<table>


<tr>

<th>Member</th>
<th>Book</th>
<th>Issue Date</th>
<th>Return Date</th>
<th>Status</th>

</tr>


<tr>

<td>Roshni</td>

<td>Data Structures</td>

<td>01-08-2026</td>

<td>06-08-2026</td>

<td>
Returned
</td>


</tr>


</table>

<a href="{{url_for('librarian_dashboard')}}">
    Back
</a>

</div>


</body>

</html>