<!DOCTYPE html>
<html>

<head>

<title>Fine Management</title>

<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

</head>


<body>


<div class="form-card">


<h2>💰 Fine Management</h2>


<table>


<tr>

<th>Member</th>
<th>Book</th>
<th>Days Late</th>
<th>Fine Amount</th>
<th>Status</th>

</tr>


<tr>

<td>Roshni</td>

<td>Operating System</td>

<td>5</td>

<td>₹50</td>

<td>
Pending
</td>

</tr>


</table>


<a href="{{url_for('librarian_dashboard')}}">
    Back
</a>


</div>


</body>

</html>