<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Forgot Password</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<div class="auth-container">


    <div class="form-card">


        <div class="home-logo">
            🔐
        </div>


        <h2>Forgot Password</h2>


        <p class="subtitle">
            Enter your registered email to receive OTP
        </p>



        <form method="POST" action="/forgot-password">


            <div class="input-group">

                <input type="email"
                       name="email"
                       placeholder="Enter your email"
                       required>

            </div>



            <button type="submit" class="btn">
                Send OTP
            </button>


        </form>



        <p class="back-link">

            Remember password?
            <a href="{{ url_for('login') }}">
                Login
            </a>

        </p>



    </div>


</div>


</body>

</html>